.tips-and-advcie-section-wrapper {
  margin-top: 140px;
  background-color: #ddeaf5;
  max-height: 747px;
}

.tips-and-advice-wrapper {
  padding-top: 100px;
  display: flex;
}

.tips-and-advice-wrapper .lhs {
  width: 50%;
  margin-right: 124px;
}

.tips-and-advice-wrapper .lhs .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.tips-and-advice-wrapper .lhs .heading h3 {
  font-family: "Poppins-Light";
  font-size: 36px;
  font-weight: 300;
  line-height: 50px;
  letter-spacing: normal;
  color: #333;
}

.tips-and-advice-wrapper .lhs .heading a {
  font-family: "Poppins-SemiBold";
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: normal;
  color: #f5822d;
  text-transform: uppercase;
  margin-right: 29px;
}

.tips-and-advice-wrapper .lhs .content {
  display: flex;
  flex-direction: column;
}

.tips-and-advice-wrapper .lhs .content .content-item {
  display: flex;
  margin-bottom: 40px;
}

.tips-and-advice-wrapper .lhs .content .content-item:last-child {
  margin-bottom: 0;
}

.tips-and-advice-wrapper .lhs .content .content-item span {
  margin-right: 12px;
  font-family: "Poppins-Medium";
  font-size: 22px;
  position: relative;
  font-weight: 500;
  line-height: normal;
  color: #0053ad;
  min-width: 28px;
  display: flex;
  justify-content: end;
}

.tips-and-advice-wrapper .lhs .content .content-item span::before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  opacity: 0.5;
  top: 15px;
  left: -1px;
  background: #f5822d;
}

.tips-and-advice-wrapper .lhs .content .content-item p {
  font-family: "Poppins-Medium";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: normal;
  color: #8c8c8c;
}

.tips-and-advice-wrapper .rhs {
  width: 50%;
}

.tips-and-advice-wrapper .rhs .image img {
  height: 380px;
  border-radius: 10px;
  width: 100%;
}

@media only screen and (min-width: 320px) and (max-width: 767.69px) {
  .tips-and-advcie-section-wrapper {
    margin-top: 62px;
    max-height: 972px;
  }

  .tips-and-advice-wrapper {
    padding-top: 40px;
    flex-direction: column;
    position: relative;
  }

  .tips-and-advice-wrapper .lhs {
    width: 100%;
    margin-right: 0px;
  }

  .tips-and-advice-wrapper .lhs .heading {
    justify-content: center;
    margin-bottom: 20px;
  }

  .tips-and-advice-wrapper .lhs .heading h3 {
    font-size: 24px;
    line-height: 32px;
    color: #252525;
  }

  .tips-and-advice-wrapper .lhs .heading a {
    position: absolute;
    bottom: -6.5%;
    margin-right: 0;
  }

  .tips-and-advice-wrapper .lhs .content .content-item {
    margin-bottom: 30px;
  }

  .tips-and-advice-wrapper .lhs .content .content-item:last-child {
    margin-bottom: 30px;
  }

  .tips-and-advice-wrapper .lhs .content .content-item span {
    margin-right: 9px;
    font-size: 16px;
    min-width: 20px;
  }

  .tips-and-advice-wrapper .lhs .content .content-item span::before {
    width: 12px;
    height: 12px;
    top: 10px;
  }

  .tips-and-advice-wrapper .lhs .content .content-item p {
    font-size: 14px;
  }

  .tips-and-advice-wrapper .rhs {
    width: 100%;
  }
  .tips-and-advice-wrapper .rhs .image img {
    height: 280px;
    width: 100%;
  }
}

/* Multibox css starts */
.tips-and-advice-section .multibox-section-wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  column-gap: 24px;
  position: relative;
  top: 65px;
}

.component {
  position: relative;
  margin-bottom: 30px;
  flex-direction: column;
  z-index: 1;
  min-height: 532px;
  max-width: 376px;
  border-radius: 10px;
  overflow: hidden;
}

.component img {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.7)
  ) !important;
  height: 100%;
  width: 100%;
}

.component .cartyre-cont {
  position: absolute;
  z-index: 999;
  top: 0rem;
  padding: 60px 29px 0;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.72) 11%,
    rgba(0, 0, 0, 0) 63%
  );
  height: 100%;
  width: 100%;
}

.component span {
  color: #333333;
  font-weight: 500;
  font-size: 14px;
  display: block;
  width: fit-content;
  background-color: #dedede;
  border-radius: 20px;
  padding: 6px 14px;
  margin-bottom: 20px;
  font-family: "Poppins-Medium";
}

.component h3 {
  color: #fff;
  font-size: 30px;
  line-height: 1.4;
  /* margin-bottom: 40px; */
  font-family: "Poppins-Regular";
}

.component p {
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  position: absolute;
  padding-right: 34px;
  bottom: 140px;
  /* margin-bottom: 60px; */
  font-family: "Poppins-Medium";
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}

.component a {
  color: #f5822d;
  text-decoration: none;
  position: absolute;
  bottom: 60px;
  font-family: "Poppins-SemiBold";
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

@media only screen and (min-width: 320px) and (max-width: 767.99px) {
  .tips-and-advice-section .multibox-section-wrapper {
    width: auto;
    grid-template-columns: auto auto;
    column-gap: 0;
    margin-right: -24px;
    margin-left: -5px;
    top: 81px;
  }

  .tips-and-advice-section .multibox-section-wrapper .slick-slide {
    padding: 0 5px;
    margin: 0;
    /* padding: 5px 0 0 5px; */
  }
  .component {
    width: 100%;
    margin-bottom: 0px;
    min-height: 402px;
    max-width: 100%;
  }

  .component .cartyre-cont {
    padding: 40px 24px;
    min-width: 100%;
  }

  .component img {
    height: 402px;
    object-fit: cover;
  }

  .component span {
    font-size: 10px;
    margin-bottom: 16px;
    padding: 7px 17px;
  }

  .component h3 {
    font-size: 20px;
    /* margin-bottom: 40px; */
    line-height: 27px;
  }

  .component p {
    font-size: 14px;
    padding-right: 24px;
    /* margin-bottom: 10px; */
    /* display: block; */
    max-width: 100%;
    bottom: 98px;
    /* height: 48px; */
    margin: 0 auto;
    line-height: 24px;
  }

  /* .component h4,
  .component a {
    font-size: 10px !important;
  } */

  .component a {
    font-size: 12px;
    bottom: 45px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .tips-and-advice-section .multibox-section-wrapper {
    width: 100%;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
  }

  .component {
    width: 100%;
    margin-bottom: 0;
    min-height: 236px;
    max-width: 100%;
  }

  .component .cartyre-cont {
    padding: 21px 14px;
  }

  .component img {
    height: 300px;
    object-fit: cover;
  }

  .component span {
    font-size: 11px;
    margin-bottom: 20px;
    padding: 5px 10px 5px 10px;
  }

  .component h3 {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 1.4em;
  }

  .component p {
    font-size: 10px;
    margin-bottom: unset;
    display: -webkit-box;
    max-width: 100%;
    line-height: 16px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    bottom: 75px;
    padding-right: 14px;
    top: 180px;
  }

  .component a {
    font-size: 10px !important;
    bottom: 21px;
  }
}
/* Multibox css ends */

/* .slick-slide.slick-current.slick-active{
  width: 292px;
} */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .tips-and-advcie-section-wrapper {
    max-height: unset;
  }

  .tips-and-advice-wrapper .lhs {
    margin-right: 62px;
  }

  .tips-and-advice-wrapper .lhs .heading a {
    margin-right: 0;
  }

  .tips-and-advice-wrapper .lhs .content .content-item span {
    margin-right: 10px;
    font-size: 18px;
    min-width: 24px;
  }

  .tips-and-advice-wrapper .lhs .content .content-item span::before {
    width: 12px;
    height: 12px;
    top: 11px;
  }
}
