* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* header  */
.crypto__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 99;
  background: var(--bg-color);
  border-right-width: 3px;
  height: 100%;
  padding: 0.5rem;
}

.crypto__header .logo {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-left: 2rem;
  align-items: center;
  width: 50%;
}

.crypto__header img {
  object-fit: cover;
  margin: 1rem 0;
  border: 1rem solid transparent;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  box-shadow: var(--box-shadow);
}

.crypto__header h3 {
  color: var(--black);
  font-size: 1.5rem;
  margin-left: 1rem;
}

.crypto__header .crypto__navbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 1rem;
}

.crypto__header .crypto__navbar a {
  display: block;
  margin: 1.5rem 0;
  padding: 0.7rem 1.5rem;
  border-radius: 10px;
  font-size: 2rem;
  text-align: center;
  box-shadow: var(--box-shadow);
  color: var(--black);
}

.crypto__navbar a:hover {
  box-shadow: var(--box-shadow-inset);
}

.menu-btn {
  position: fixed;
  top: 1.5rem;
  left: 2rem;
  z-index: 100;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  border-radius: 50%;
  font-size: 2rem;
  cursor: pointer;
  text-align: center;
  color: var(--black);
  box-shadow: var(--box-shadow);
  display: none;
}

.menu-btn:hover {
  color: var(--green);
  box-shadow: var(--box-shadow-inset);
}

.crypto__header .theme__toggler {
  z-index: 100;
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 5rem;
  border-radius: 50%;
  font-size: 2rem;
  cursor: pointer;
  text-align: center;
  color: var(--black);
  box-shadow: var(--box-shadow);
}

@media screen and (max-width: 991px) {
  .crypto__header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: -110%;
    z-index: 99;
    background: var(--bg-color);
    width: 30rem;
    border-right: var(--border);
    border-right-width: 3px;
    height: 100%;
    padding: 2rem;
  }

  .crypto__header .logo {
    justify-content: center;
    flex-direction: column;
    margin-left: 0;
    align-items: center;
    width: 100%;
  }

  .crypto__header img {
    object-fit: cover;
    margin: 1rem 0;
    border: 1rem solid transparent;
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
    box-shadow: var(--box-shadow);
  }

  .crypto__header h3 {
    color: var(--black);
    font-size: 2.5rem;
  }

  .crypto__header .crypto__navbar {
    padding-top: 1rem;
    flex-direction: column;
  }

  .crypto__header .crypto__navbar a {
    width: 80%;
    display: block;
    margin: 1.5rem 0;
    border-radius: 10px;
    font-size: 2rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    color: var(--black);
  }

  .crypto__navbar a:hover {
    box-shadow: var(--box-shadow-inset);
  }

  .crypto__header .theme__toggler {
    position: fixed;
    background: var(--bg-color);
    top: 1.5rem;
    right: 2rem;
    z-index: 100;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
    text-align: center;
    color: var(--black);
    box-shadow: var(--box-shadow);
  }

  .menu-btn {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1.5rem;
    left: 2rem;
    z-index: 100;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
    text-align: center;
    color: var(--black);
    box-shadow: var(--box-shadow);
    background: var(--bg-color);
  }

  .menu-btn:hover {
    color: var(--green);
    box-shadow: var(--box-shadow-inset);
  }

  .crypto__header.active {
    left: 0;
    transition: 0.4s linear;
  }
}

@media screen and (max-width: 450px) {
  .crypto__header {
    width: 100%;
  }

  .crypto__header .crypto__navbar a {
    width: 70%;
  }
}



/* animation */

#myimg {
  width: 700px;
  margin: 0 auto;
}

.banner-with-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: #1fc8db; */
  /* background-image: linear-gradient(
    140deg,
    #eadedb 0%,
    #bc70a4 50%,
    #bfd641 75%
  ); */
}

.footer-with-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background: linear-gradient(
    109.6deg,
    rgb(0, 37, 84) 11.2%,
    rgba(0, 37, 84, 0.32) 100.2%
  ); */
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  /* background: linear-gradient(to right, #868f96 0%, #596164 100%); */
}

.top-white-panel,
.bottom-white-panel {
  position: fixed;
  height: 20vh;
  background: #fff;
  z-index: 1;
  width: 100%;
}

.top-white-panel {
  top: 0;
}

.bottom-white-panel {
  bottom: 0;
}

.left-div {
  width: 50%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 1300px;
}

.content-wrapper h1 {
  font-size: 50px;
  margin-top: 20px;
}

.content-wrapper p {
  font-size: 24px;
  margin: 20px 0;
  margin-bottom: 40px;
}

.content-wrapper a {
  display: inline-block;
  font-size: 24px;
  color: white;
  width: fit-content;
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 16px;
  background-color: #333333;
}

.right-div {
  position: sticky;
  top: 10%;
  text-align: center;
  width: 50%;
  max-width: 600px;
}

#trigger1,
#trigger2,
#trigger3,
#trigger4,
#trigger5 {
  min-height: 1px;
}

/* #reveal1,#reveal3,#reveal5 {
  opacity: 0;
  transform: scale(0.9);
  transition: all 0.8s ease-in-out;
}

#reveal1.visible,#reveal3.visible,#reveal5.visible {
  opacity: 1;
  transform: none;
}

#reveal2,#reveal4 {
  position: relative;
  left: -800px;
  transition: all 0.8s ease-in-out;
}
#reveal2.visible,#reveal4.visible {
  left: 0;
} */

/* // animation 1 */
/* .animate {
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity .5s, transform s;
}

.animate.visible {
  opacity: 1;
  transform: translateX(0);

} */

#myimg {
  transform: scale(2) translateX(-20%); /* Adjust the scale value as needed */
}
.box2{
  z-index: 500;
  position: relative;
  margin-top: 60px;
}

p{
  max-width: 500px;
}

.box2 .text4{
  font-size: 25px;
  transform: translateX(0%);
  text-align: left;
}

.box2 .text5{
  font-size: 25px;
  transform: translateX(100%);
  text-align: right;
}
/* 
h1.fixed-position{
  position: fixed;
  top: 10%;
}

p.fixed-position {
  position: fixed;
  top: 20%;
}

a.fixed-position{
  position: fixed;
  top: 40%;
} */


/* // animation 2 */
/* 
.content-wrapper#reveal2 ,
.content-wrapper#reveal4,
.content-wrapper#reveal6,
.content-wrapper#reveal8 {
  opacity: 0;
  transform: translateX(50%) ;
  transition: opacity .5s, transform .5s;
}

.content-wrapper#reveal2.visible ,
.content-wrapper#reveal4.visible,
.content-wrapper#reveal6.visible,
.content-wrapper#reveal8.visible {
  opacity: 1;
  transform: translateX(0);
} */

/* .animate{
  transform: translateX(-100%);
  opacity: 0;
} */


@media screen and (max-width:767px) {
  .flex-container {
    flex-direction: column-reverse;
  }

  .right-div {
    top: 7%;
    width: 100%;
  }

  .content-wrapper h1 {
    font-size: 30px;
    margin-bottom: 0;
  }

  .content-wrapper p {
    font-size: 18px;
  }

  #myimg {
    width: 360px;
  }

  .left-div {
    width: 90%;
    margin: 0 auto;
  }

  .content-wrapper#reveal {
    transform: translateX(-50%);
  }

  .content-wrapper a {
    margin: 0 auto;
  }
}

/* footer  */


.crypto__footer {
  color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--bg-color);
}

.crypto__footer-heading {
  width: 100%;
  text-align: center;
  margin-bottom: 3rem;
}

.crypto__footer-heading h1 {
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  text-align: center;
  letter-spacing: -0.04em;
}

.crypto__footer-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: 1px solid #fff;
  text-align: center;
  margin-bottom: 10rem;
  cursor: pointer;
}

.crypto__footer-heading p {
  box-sizing: border-box;
  font-size: 40px;
  line-height: 21px;
  color: var(--black);
  word-spacing: 2px;
}

.crypto__footer-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  text-align: left;
}

.crypto__footer-links div {
  width: 250px;
  margin: 1rem;
}

.crypto__footer-links_logo {
  display: flex;
  flex-direction: column;
}

.crypto__footer-links_logo img {
  width: 118px;
  height: 30px;
  margin-bottom: 1rem;
}

.crypto__footer-links_logo p {
  font-size: 12px;
  line-height: 14px;
  color: var(--black);
}

.crypto__footer-links_div {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.crypto__footer-links_div h4 {
  font-size: 20px;
  line-height: 16px;
  color: var(--black);
  margin-bottom: 1rem;
}

.crypto__footer-links_div a {
  text-decoration: none;
  font-size: 15px;
  line-height: 14px;
  color: var(--black);
  margin: 0.5rem 0;
  cursor: pointer;
}

.crypto__footer-links_div a:hover {
  color: rgb(67, 165, 245);
}

.crypto__footer-links_div a .i {
  margin-right: 10px;
}

.crypto__footer-copyright {
  margin-top: 2rem;
  text-align: center;
  width: 100%;
}

.crypto__footer-copyright p {
  font-size: 12px;
  line-height: 14px;
  color: var(--black);
}

@media screen and (max-width: 550px) {
  .crypto__footer-links div {
    margin: 1rem 0;
  }

  .crypto__footer-btn p {
    font-size: 14px;
    line-height: 20px;
  }
}
