* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

section{
  max-width: 1440px;
}

/* animation */

#myimg {
  width: 700px;
  margin: 0 auto;
}

.scroll-title{
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin: 60px;
}

.banner-with-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: #1fc8db; */
  /* background-image: linear-gradient(
    140deg,
    #eadedb 0%,
    #bc70a4 50%,
    #bfd641 75%
  ); */
}

.footer-with-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background: linear-gradient(
    109.6deg,
    rgb(0, 37, 84) 11.2%,
    rgba(0, 37, 84, 0.32) 100.2%
  ); */
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  /* background: linear-gradient(to right, #868f96 0%, #596164 100%); */
}

.top-white-panel,
.bottom-white-panel {
  position: fixed;
  height: 20vh;
  background: #fff;
  z-index: 1;
  width: 100%;
}

.top-white-panel {
  top: 0;
}

.bottom-white-panel {
  bottom: 0;
}

.left-div {
  width: 50%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100px;
}

.content-wrapper h1 {
  font-size: 50px;
  margin-top: 20px;
}

.content-wrapper p {
  font-size: 24px;
  margin: 20px 0;
  margin-bottom: 40px;
}

.content-wrapper a {
  display: inline-block;
  font-size: 24px;
  color: white;
  width: fit-content;
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 16px;
  background-color: #333333;
}

.right-div {
  position: sticky;
  top: 10%;
  text-align: center;
  width: 50%;
  max-width: 600px;
}

#trigger1,
#trigger2,
#trigger3,
#trigger4,
#trigger5 {
  min-height: 1px;
}

/* #reveal1,#reveal3,#reveal5 {
  opacity: 0;
  transform: scale(0.9);
  transition: all 0.8s ease-in-out;
}

#reveal1.visible,#reveal3.visible,#reveal5.visible {
  opacity: 1;
  transform: none;
}

#reveal2,#reveal4 {
  position: relative;
  left: -800px;
  transition: all 0.8s ease-in-out;
}
#reveal2.visible,#reveal4.visible {
  left: 0;
} */

/* // animation 1 */
/* .animate {
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity .5s, transform s;
}

.animate.visible {
  opacity: 1;
  transform: translateX(0);

} */

#myimg {
  transform: scale(1) translateX(-20%); 
}
.box2{
  z-index: 500;
  position: relative;
  margin-top: 60px;
}

p{
  max-width: 500px;
}

.box2 .text4{
  font-size: 25px;
  transform: translateX(0%);
  text-align: left;
}

.box2 .text5{
  font-size: 25px;
  transform: translateX(100%);
  text-align: right;
}
/* 
h1.fixed-position{
  position: fixed;
  top: 10%;
}

p.fixed-position {
  position: fixed;
  top: 20%;
}

a.fixed-position{
  position: fixed;
  top: 40%;
} */


/* // animation 2 */
/* 
.content-wrapper#reveal2 ,
.content-wrapper#reveal4,
.content-wrapper#reveal6,
.content-wrapper#reveal8 {
  opacity: 0;
  transform: translateX(50%) ;
  transition: opacity .5s, transform .5s;
}

.content-wrapper#reveal2.visible ,
.content-wrapper#reveal4.visible,
.content-wrapper#reveal6.visible,
.content-wrapper#reveal8.visible {
  opacity: 1;
  transform: translateX(0);
} */

/* .animate{
  transform: translateX(-100%);
  opacity: 0;
} */


@media screen and (max-width:767px) {
  .flex-container {
    flex-direction: column-reverse;
  }

  .right-div {
    top: 7%;
    width: 100%;
  }

  .content-wrapper h1 {
    font-size: 30px;
    margin-bottom: 0;
  }

  .content-wrapper p {
    font-size: 18px;
  }

  #myimg {
    width: 360px;
  }

  .left-div {
    width: 90%;
    margin: 0 auto;
  }

  .content-wrapper#reveal {
    transform: translateX(-50%);
  }

  .content-wrapper a {
    margin: 0 auto;
  }
}
