* {
  margin: 0;
  padding: 0;
}

#main {
  position: relative;
  overflow: hidden;
}

#page {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #000;
  /* left: 0 !important; */
}

canvas {
  position: relative;
  /* z-index: 9; */
  max-width: 100vw;
  object-fit: cover;
  max-height: 100vh;
}

#page1 {
  height: 100vh;
  width: 100vw;
  background-color: yellow;
}

#page2 {
  height: 100vh;
  width: 100vw;
  background-color: blue;
}

@media (max-width: 768px) {
  canvas {
    height: 100%;
    width: 100%;
  }

  #page{
      height: 700px;
  }
}