* {
    margin: 0;
    padding: 0;
}

#main {
    position: relative;
    overflow: hidden;
}

#page {
    /* position: relative !important; */
    height: 100vh;
    width: 100vw;
    background-color: #000;
    /* left: 0 !important; */
}

canvas {
    /* position: relative !important; */
    z-index: 9;
    max-width: 100vw;
    max-height: 100vh;
}

#page1 {
    height: 100vh;
    width: 100vw;
    background-color: yellow;
}

#page2 {
    height: 100vh;
    width: 100vw;
    background-color: red;
}