* {
    margin: 0;
    padding: 0;
}

html,body{
    margin: 0;
    height: 100%;
    overflow: hidden;
}
#main {
    position: relative;
    overflow: hidden;
}

#page {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
    /* left: 0 !important; */
}

canvas {
    position: relative;
    /* z-index: 9; */
    max-width: 100vw;
    max-height: 100vh;
}

#page1 {
    height: 100vh;
    width: 100vw;
    background-color: yellow;
}

#page2 {
    height: 100vh;
    width: 100vw;
    background-color: red;
}