.tyre-size-section {
  margin-top: 60px;
  margin-bottom: 100px;
}

.tyre-size-wrapper .heading h2 {
  font-family: "Poppins-Light";
  font-size: 36px;
  font-weight: 300;
  line-height: 42px;
  color: #252525;
}

.tyre-size-wrapper .content {
  margin-top: 61px;
}

.content table {
  width: 100%;
}
.content table thead tr,
.content table tbody tr {
  border-bottom: solid 0.5px #979797;
  /* display: flex; */
}

.content table thead tr th,
.content table tbody tr td {
  text-align: left;
  padding: 20px;
  max-width: 177px;
  /* flex: 1 1 auto; */
}

.content table tbody tr td:nth-child(5) {
  position: relative;
}

.content table tbody tr td:nth-child(5) img {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 22px;
}

.content table thead tr th:first-child,
.content table tbody tr td:first-child {
  padding-left: 0;
}

.content table thead tr th {
  font-family: "Poppins-SemiBold";
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: normal;
  color: #333;
}

.content table tbody tr td {
  text-align: left;
  font-family: "Poppins-Medium";
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  color: #8c8c8c;
}

@media only screen and (min-width: 320px) and (max-width: 767.69px) {
  .tyre-size-section {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .tyre-size-wrapper .heading h2 {
    font-size: 24px;
    line-height: 36px;
  }

  .tyre-size-wrapper .content {
    margin-top: 20px;
  }

  .content table {
    border-radius: 10px;
    border: 1px solid #d6d6d6;
    border-collapse: unset;
  }
  .content table thead {
    display: none;
  }

  .content table tbody,
  .content table tbody tr {
    width: 100%;
    max-width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-bottom: none;
  }

  .content table tbody tr:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .content table tbody tr:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .content table tbody tr:nth-of-type(odd) {
    background: #ecf4fa;
  }

  .content table tbody tr:nth-of-type(even) td,
  .content table tbody tr:nth-of-type(even) td::before {
    border-bottom: solid 0.5px #979797;
    border-bottom: solid 0.5px #d6d6d6;
  }

  .content table tbody tr:nth-of-type(even) td:last-child,
  .content table tbody tr:nth-of-type(even) td:last-child::before {
    border-bottom: none;
  }

  .content table tbody tr td {
    padding: 12px 24px 12px 24px;
    font-family: "Poppins-Regular";
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    color: #333333;
    width: 50%;
    max-width: 100%;
    display: block;
  }

  .content table tbody tr td:first-child {
    padding: 20px 24px 12px 24px;
  }

  .content table tbody tr td:last-child {
    padding: 12px 24px 20px 24px;
  }

  .content table tbody tr td::before {
    position: absolute;
    left: 0px;
    width: 50%;
    font-family: "Poppins-Regular";
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    color: #8c8c8c;
    content: attr(data-label);
    padding-bottom: 12px;
    padding-left: 24px;
  }

  .content table tbody tr td:nth-child(5) {
    position: unset;
  }

  .content table tbody tr td:nth-child(5) img {
    width: 14px;
    position: unset;
    height: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .content table thead tr th,
  .content table tbody tr td {
    padding: 10px;
  }

  .content table tbody tr td {
    font-size: 14px;
  }

  .content table thead tr th {
    font-size: 14px;
  }

  .tyre-size-wrapper .content {
    margin-top: 30px;
  }

  .tyre-size-wrapper .heading h2 {
    font-size: 28px;
    line-height: 30px;
  }

  .tyre-size-section {
    margin-top: 40px;
  }

  .content table tbody tr td:nth-child(5) img {
    width: 14px;
    height: 14px;
    top: 13px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 1300px) {
  .tyre-size-section {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
